﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestTCReport.aspx.cs" Inherits="Simplexity.TC.TMS.Report.ReportingService.TC.TestTCReport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    


</body>
</html>
